[Unit]
Description=Gunicorn server for SITENAME

[Service]
Restart=on-failure
User=wjf
WorkingDirectory=/home/wjf/sites/SITENAME/source
ExecStart=/home/wjf/sites/SITENAME/virtualenv/bin/gunicorn --bind unix:/tmp/SITENAME.socket superlists.wsgi:application

[Install]
WantedBy=multi-user.target